<agm-map [latitude]="destination.lat" [longitude]="destination.lng" [fitBounds]="true">
  <agm-marker [agmFitBounds]="true" [latitude]="origin.lat" [longitude]="origin.lng"></agm-marker>
  <agm-marker
  [agmFitBounds]="true"
    [latitude]="destination.lat"
    [longitude]="destination.lng"
  ></agm-marker>
  <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="'#07b57a'">
    <agm-polyline-point [latitude]="origin.lat" [longitude]="origin.lng">
    </agm-polyline-point>
    <agm-polyline-point
      [latitude]="destination.lat"
      [longitude]="destination.lng"
    >
    </agm-polyline-point>
  </agm-polyline>
</agm-map>
